body
	{
		background-image: url("image/001.jpg");
	}

#logo
	{
		position: relative;
		left: 390px;
		top: 150px;
	}


#logo:hover
	{
		background-image: url("image/ShowIT!2.png");
		position: relative;
		left: 390px;
		top: 150px;
	}