body
	{
		background-image: url("image/background.jpg");
		position: inherit;
	}



/*Menu Non Log In dan Log In* + Header x Footer*/


.stand

	{
		margin-left: 20px;
		font-family: arial;
		font-weight: bold;
	}

#standalone
	{
		font-family: arial;
		font-weight: bold;
	}

#stand002
	{	float: right;
		font-family: arial;
		font-weight: bold;
	}

#stand003
	{
		float: right;
		margin-right: 30px;
		font-family: arial;
		font-weight: bold;
	}

#about
	{
		margin-left: 20px;
		font-family: arial;
		font-weight: bold;
		text-align: center;
	}

#stand004
	{
		float: right;
		margin-right: 30px;
		font-family: arial;
		font-weight: bold;
	}

#add
	{
		float: right;
		margin-right: 30px;
		font-family: arial;
		font-weight: bold;
		text-align: center;

	}

#home
	{
		margin-left: 20px;
		font-family: arial;
		font-weight: bold;
		text-align: center;
	}

#login
	{
		float: right;
		margin-right: 30px;
		font-family: arial;
		font-weight: bold;
		text-align: center;
	}

#imago
	{
		margin-left: 18%;
	}

#tablus
	{
		margin-left: 16%;
	}

#footer
	{
		font-weight: bold;
		font-family: arial;
		font-size: 13px;
	}

a
	{
		text-decoration: none;
		color: blue;
	}

a:hover
	{
		text-decoration: none;
		color: green;
	}


	/*Bagian Form Login*/

.data
	{
		margin-top: 30px;
		margin-left: 150px;
		font-family: arial;
		font-weight: bold;
		font-size: 20px;
	}

#border001
	{

		margin-left: 76px;
		margin-right: 22px;
	} 

#border002
	{
		margin-left: 20px;
		margin-right: 20px;
	} 

#buttonlog
	{
		margin-top: 20px;
		margin-left: 220px;
		width: 200px;
		height: 29px;
		font-weight: bold;
	}

#boxlogin
	{
		border: 3px black solid;
		padding-bottom: 30px;
		padding-top: 30px;
		padding-left: 30px;
		margin-right: 300px;
		margin-left: 300px;
		margin-top: 40px;
		margin-bottom: 40px;
		background: url("image/gambar001.jpg");
		background-position: center;
		color: white;
	}

/*Bagian Add Gambar*/

#boxadd
	{
		margin-left: 450px;
		margin-right: 400px;
		padding-bottom: 50px;
		padding-top: 50px;
		padding-left: 30px;
		font-family: arial;
		font-weight: bold;
		color: white;
		font-size: 20px;
		border: 3px black solid;
		background: url("image/gambar002.jpg");
	}

#url
	{
		font-family: arial;
		margin-left: 30px;
	}

#border003
	{
		margin-left: 20px;
		margin-right: 11px;
	}

#border004
	{
		margin-left: 83px;
		margin-right: 10px;
	}

#ok
	{
		margin-left: 160px;
		width: 100px;
		height: 40px;
		font-weight: bold;
	}

#browse
	{
		width: 90px;
		height: 40px;
		font-weight: bold;
	}

/*Notification for add picture*/
#notification
	{
		border: 2px green solid;
		margin-bottom: 20px;
		padding-left: 30px;
		margin-right: 400px;
		margin-left: 450px;
		font-weight: bold;
		font-size: 20px;
		font-family: arial;
		background-color: rgba(103,251,5,0.5);
	}

	/*Notification for Delete Picture*/

	#notification002
	{
		border: 2px green solid;
		margin-bottom: 20px;
		padding-left: 30px;
		margin-right: 400px;
		padding-bottom: 50px;
		margin-left: 450px;
		font-weight: bold;
		font-size: 30px;
		font-family: arial;
		background-color: rgba(103,251,5,0.5);
	}

	#deleter
	{
		margin-left: 170px;
		margin-top: 20px;
		width: 100px;
		height: 40px;
		font-weight: bold;
		font-family: arial;
	}

		#deleter001
	{
		margin-left: 120px;
		margin-top: 20px;
		width: 100px;
		height: 40px;
		font-weight: bold;
		font-family: arial;
	}

	#deleter002
		{
			width: 100px;
			height: 40px;
			font-weight: bold;
			font-family: arial;
		}


	/*Picture Viewer*/

	#gambar
	{
		width: 900px;
		height: 600px;
		margin-left: 200px;
	}

	/*Non Login*/

	#support_one
	{
		margin-left: 600px;
		width: 100px;
		height: 40px;
		margin-top: 10px;
		font-weight: bold;
		font-family: arial;
	}


	/*Login*/


	#support_two
		{
			margin-left: 560px;
			width: 100px;
			height: 40px;
			margin-top: 10px;
			font-weight: bold;
			font-family: arial;
		}

	#support_three
		{
			width: 100px;
			height: 40px;
			margin-top: 10px;
			font-weight: bold;
			font-family: arial;
		}

	/*Login Failed*/

	#bad_login
		{
			border: 2px red solid;
			margin-bottom: 10px;
			padding-left: 30px;
			margin-right: 300px;
			margin-left: 300px;
			font-weight: bold;
			font-size: 20px;
			font-family: arial;
			background-color: rgba(252,0,0,0.5);
		}

	/*Add Failed*/

	#bad_add
		{
			border: 2px red solid;
			margin-bottom: 20px;
			padding-left: 30px;
			margin-right: 400px;
			margin-left: 450px;
			font-weight: bold;
			font-size: 20px;
			font-family: arial;
			background-color: rgba(252,0,0,0.5);

		}

		#abox
			{
				background-color: rgba(0,0,255,0.5);
				border: 2px solid blue;
			}

		.about
			{
				font-family: arial;
				font-weight: bold;
				font-size: 35px;
			}